body {
    background-color: black;
    color: aliceblue;
    font-family: Algerian;
}

h1 {
    font-family: "Blackadder ITC";
    font-size: xxx-large;
    color: darkgoldenrod;
}

p {
    color: green;
}

div {
    background-color: brown;
    color: black;
    font-family: Arial;
    text-align: justify;
}

#div-verde {
    background-color: darkolivegreen;
    color: navy;
}

.destaque {
    color: chartreuse;
}